- if params[:posted]
  %div.alert.alert-success
    Result posted! Better luck next time :{

%div.well
  %h4 Post result:
  %form.form-inline{:method=>"post", :action=>"/results", :style=>"margin-bottom: 0;"}
    %select{:name=>"winner_id"}
      %option{:value=> nil}
      - Ranked::Player.order(:user).all.each do |player|
        - next if player == @user
        %option{:value=>player.id}= player.display_name

    %input.btn.btn-primary{:type=>"submit", :value=>"Just beat me"}

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Rank
      %th Rating
      %th User
  %tbody
    - @players.each_with_index do |player, i|
      %tr
        %td= "##{i+1}"
        %td= player.rating.round
        %td
          %img{:src=> player.gravatar}
          %a{:href=>"/players/#{player.id}"}= player.display_name
